#root {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  line-height: 1.5;
  font-family: 'Sofia Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
  display: flex;
  margin: 0;
  width: 100%;
  background-color: #c5c6f3;
}

input,
button {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}
