@font-face {
  font-family: 'Sofia Sans';
  src: url('../assets/fonts/SofiaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Sans';
  src: url('../assets/fonts/SofiaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
