@use '../styles/mixins.scss';

.numberField {
  color: var(--text-color);

  > label {
    display: inline-block;
    margin-bottom: var(--space-s);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-800);
  }

  .group {
    gap: var(--space-s);
    display: flex;
    border: var(--space-smallest) solid var(--color-grey-300);
    border-radius: var(--border-radius-m);
    padding: var(--space-base) var(--space-xxs);
    font-weight: var(--font-weight-semibold);

    &[data-focus-within] {
      border-color: var(--color-common-black);
    }

    &[data-disabled] {
      background-color: var(--color-grey-50);
    }

    button {
      margin: 0;
      border-radius: var(--border-radius-s);
      width: var(--space-um);
      height: var(--space-um);
      padding: 0;
      background-color: var(--color-grey-100);
      font-size: var(--font-size-s);
      line-height: 0;

      .hasOnlyIcon {
        padding: 0;
      }

      @include mixins.change-svg-color(var(--color-common-black));

      &[data-disabled] {
        cursor: default;

        input {
          background-color: var(--color-grey-50);
        }

        @include mixins.change-svg-color(var(--color-grey-500));
      }
    }
  }

  input {
    z-index: 1;
    flex: 1;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 0;
    font-size: var(--font-size-m);
    line-height: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    text-align: center;
  }
}
