.app {
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-m);
  display: flex;

  > div {
    border: var(--space-smallest) solid var(--color-grey-300);
    border-radius: var(--border-radius-l);
    padding: var(--space-um);
    background-color: var(--color-common-white);
  }

  .textFieldWrapper,
  .numberFieldWrapper {
    > div:not(:first-of-type) {
      margin-top: var(--space-m);
    }
  }

  .textFieldWrapper,
  .sliderWrapper {
    width: 11.125rem;
  }

  .numberFieldWrapper {
    width: 6.625rem;
  }

  .sliderWrapper {
    box-sizing: border-box;
    padding: 0 var(--space-s);
  }

  .table {
    justify-content: space-evenly;
    gap: 0.625rem;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    max-width: 29.063rem;

    .column-small,
    .column {
      flex-direction: column;
      align-items: center;
      row-gap: var(--space-m);
      display: flex;
    }

    .column-small > button:not(:last-of-type) {
      width: 3.625rem;

      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: 4.625rem;
      }
    }

    .column > button:not(:last-of-type) {
      width: 5rem;

      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: 6.25rem;
      }
    }
  }
}
